html {
    background: black;
}

body.famous-root {
    -webkit-perspective:10000px;
    perspective:10000px;
}

.backfaceVisibility {
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
